<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="base/layout">
<!--<![endif]-->
	<head>
	    <meta charset="utf-8" />
	    <title>首页</title>
	    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	    <meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>

	<body class="no-trans">
		<!-- banner start -->
		<!-- ================ -->
		<div layout:fragment="content" id="banner" class="banner">
			<div class="banner-image"></div>
			<div class="banner-caption">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 object-non-visible" data-animation-effect="fadeIn">
							<h1 class="text-center">这是一个采用<span>DDD</span> 风格构建的业务领域模型</h1>
							<p class="lead text-center">它采用RUP和软件产品线方法进行构建，强调了稳定的业务领域模型的重要性以及构建过程，可以成为各业务线构建领域资产的参考。</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- banner end -->
	</body>
</html>
